<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO -->
    <meta name="description" content="AIO taller mecanico en montevideo, Estacionamiento 24 horas y mas">
    <meta name="keywords" content="Taller mecanico, taller mecanico montevideo, taller mecanico cerca de mi, estacionamiento 24 horas, venta de neumaticos">
    <meta name="author" content="All In One">
    <!-- Responsivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes | AIO</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> 
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
            font-weight: normal;
            font-style: normal;
        }
    
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }

        /* Rotación para la flecha */
        .rotate-180 {
            transform: rotate(180deg);
        }
    </style>
</head>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const archivoTraduccionHeader = "{{ asset('translate/header.json') }}";
        const archivoTraduccionFAQ = "{{ asset('translate/FAQ.json') }}";
        inicializarTraduccion(archivoTraduccionHeader, archivoTraduccionFAQ, 'es');
    });
</script>
<body class="flex flex-col min-h-screen">
    {% include 'partials/header.html.twig' %}

    <main class="flex-grow justify-center items-center min-h-[600px] flex flex-col">
        <section class="flex flex-wrap justify-center text-center w-full max-w-7xl mx-auto py-8">        
            <div class="w-full lg:w-1/2 flex flex-col justify-center items-center p-8 lg:p-16">
                <h1 traducir="tituloFaq" class="text-5xl lg:text-8xl font-bold mb-4">FAQ</h1>
                <p traducir="descripcionFaq" class="text-xl lg:text-2xl font-medium max-w-lg">
                    Bienvenido a la sección de preguntas frecuentes de All In One, aquí intentaremos resolver todas tus dudas.
                </p>
            </div>
            <div class="w-full lg:w-1/2 p-8 lg:p-16">
                <div class="max-w-2xl mx-auto">
                    {% for pregunta in preguntas %}
                    <div class="mb-4 border-b border-stone-400 pb-4">
                        <button class="w-full text-left focus:outline-none" onclick="toggleFAQ(this)">
                            <div class="flex justify-between items-center text-xl font-bold cursor-pointer">
                                <span traducir="pregunta{{ loop.index }}">{{ pregunta.pregunta }}</span>
                                <svg class="w-6 h-6 transform transition-transform duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </div>
                        </button>
                        <div class="mt-2 text-left hidden">
                            <p traducir="respuesta{{ loop.index }}">{{ pregunta.respuesta }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {% include 'partials/footer.html.twig' %}
</body>

<script>
function toggleFAQ(button) {
    // Obtener el contenido asociado al botón
    const content = button.nextElementSibling;
    
    // Alternar la visibilidad del contenido
    content.classList.toggle('hidden');
    
    // Rotar el ícono de flecha
    const arrow = button.querySelector('svg');
    arrow.classList.toggle('rotate-180');
}
</script>

</html>
