<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de reserva de servicio | AIO</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script>
        (function() {
            emailjs.init("DglhVJa9EbJc5VRgg");  // Reemplaza con tu User ID de EmailJS
        })();

        function sendReservationEmail() {
            let templateID;
            const emailData = {
                email: "{{ sessionData.email }}",
                nombre: "{{ sessionData.nombre }}",
                apellido: "{{ sessionData.apellido }}",
                servicio: "{{ sessionData.servicio }}",
                id_servicio: "{{ sessionData.reserva.id }}",
                matricula: "{{ sessionData.reserva.matricula }}",
                precio: "{{ sessionData.reserva.precio }}",
                fecha_inicio: "{{ sessionData.reserva.fecha_inicio }}",
                fecha_final: "{{ sessionData.reserva.fecha_final }}"
            };

            // Verificación de servicio y datos específicos
            if ("{{ sessionData.servicio }}" === "taller") {
                templateID = "template_k45nphm";

                // Solo agrega estos datos si están definidos en el objeto de reserva
                {% if sessionData.reserva.tipo is defined %}
                    emailData.tipo = "{{ sessionData.reserva.tipo }}";
                {% endif %}
                {% if sessionData.reserva.descripcion is defined %}
                    emailData.descripcion = "{{ sessionData.reserva.descripcion }}";
                {% endif %}

            } else if ("{{ sessionData.servicio }}" === "parking") {
                templateID = "template_thhd7ld";

                // Solo agrega estos datos si están definidos en el objeto de reserva
                {% if sessionData.reserva.largo_plazo is defined %}
                    emailData.largo_plazo = "{{ sessionData.reserva.largo_plazo }}";
                {% endif %}
                {% if sessionData.reserva.tipo_plaza is defined %}
                    emailData.tipo_plaza = "{{ sessionData.reserva.tipo_plaza }}";
                {% endif %}
                {% if sessionData.reserva.plazas is defined %}
                    emailData.plazas = "{{ sessionData.reserva.plazas }}";
                {% endif %}
            }

            // Enviar el correo usando EmailJS con el Service ID y Template ID seleccionados
            emailjs.send("service_rcnltqu", templateID, emailData)
                .then(function(response) {
                    console.log("Datos de reserva enviados.", response.status, response.text);
                    alert("Reserva confirmada. Hemos enviado los detalles de tu reserva al correo asociado a tu cuenta. ¡Gracias por confiar en AIO!.");
                }, function(error) {
                    console.error("Error al enviar el correo", error);
                    alert("Ocurrió un error al enviar el correo. Por favor, intenta nuevamente.");
                });
        }

        document.addEventListener("DOMContentLoaded", sendReservationEmail);
    </script>
    <style>
        /* Estilos personalizados */
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
            font-weight: normal;
            font-style: normal;
        }
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }
        .btn { background-color: #dc2626; }
        .btn:hover { background-color: #b91c1c; }
        .btnPark { background-color: #1f3de0; }
        .btnPark:hover { background-color: #233181; }
    </style>
</head>
<body class="bg-white">
    {% if sessionData.servicio == 'parking' %}
        {% include 'partials/headerParking.html.twig'%}
    {% else %}
        {% include 'partials/header.html.twig' %}
    {% endif %}
    <main class="w-full px-4 pt-10 bg-white flex flex-col items-center gap-10">
        <section class="w-full max-w-[980px] p-6 bg-[#f0edf2] rounded-[14px] border border-black flex flex-col justify-center items-center gap-6">
            <h1 class="text-black text-3xl md:text-4xl lg:text-5xl font-bold text-center">Confirmación de Reserva</h1>

            <h2 class="text-black text-2xl md:text-3xl font-bold mb-4">Contacto</h2>            
            <div class="w-full flex flex-col gap-4">
                <p class="text-black text-xl md:text-2xl"><strong>Email:</strong> {{sessionData.email}}</p>
                <p class="text-black text-xl md:text-2xl"><strong>Nombre:</strong> {{sessionData.nombre}}</p>
                <p class="text-black text-xl md:text-2xl"><strong>Apellido:</strong> {{sessionData.apellido}}</p>
            </div>

            {% if sessionData.reserva %}
                <div class="w-full mt-6">
                    <h2 class="text-black text-2xl md:text-3xl font-bold mb-4">Detalles de la Reserva</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <p class="text-black text-xl"><strong>ID del servicio:</strong> {{ sessionData.reserva.id }}</p>
                        <p class="text-black text-xl"><strong>Matrícula:</strong> {{ sessionData.reserva.matricula }}</p>
                        <p class="text-black text-xl"><strong>Precio:</strong> {{ sessionData.reserva.precio }}</p>
                        <p class="text-black text-xl"><strong>Fecha de inicio:</strong> {{ sessionData.reserva.fecha_inicio }}</p>
                        <p class="text-black text-xl"><strong>Fecha de finalización:</strong> {{ sessionData.reserva.fecha_final }}</p>
                    </div>
                </div>

                {% if sessionData.servicio == 'parking' %}
                    <div class="w-full mt-6">
                        <h3 class="text-black text-xl md:text-2xl font-bold mb-4">Detalles Adicionales para Parking</h3>
                        <p class="text-black text-xl"><strong>Tipo de reserva:</strong> {{ sessionData.reserva.largo_plazo }}</p>
                        <p class="text-black text-xl"><strong>Plaza/s reservada/s:</strong> {{ sessionData.reserva.plazas }}</p>

                    </div>
                    <a href="{{ path('aioParking') }}" class="w-full max-w-[300px] h-[60px] duration-300 btnPark text-neutral-50 text-xl md:text-2xl font-bold rounded-[10px] flex items-center justify-center mt-6">
                        Volver a AIO Parking
                    </a>
                {% elseif sessionData.servicio == 'taller' %}
                    <div class="w-full mt-6">
                        <h3 class="text-black text-xl md:text-2xl font-bold mb-4">Detalles Adicionales para Taller</h3>
                        <p class="text-black text-xl"><strong>Tipo:</strong> {{ sessionData.reserva.tipo }}</p>
                        <p class="text-black text-xl"><strong>Descripción:</strong> {{ sessionData.reserva.descripcion }}</p>
                    </div>
                    <a href="{{ path('services') }}" class="w-full max-w-[300px] h-[60px] duration-300 btn text-neutral-50 text-xl md:text-2xl font-bold rounded-[10px] flex items-center justify-center mt-6">
                        Volver a Servicios
                    </a>
                {% endif %}
            {% else %}
                <p class="text-black text-xl md:text-2xl">No hay detalles de reserva disponibles.</p>
            {% endif %}
        </section>
    </main>

    {% include 'partials/footer.html.twig' %}
</body>
</html>
