<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AIO taller mecanico en montevideo, Estacionamiento 24 horas y mas">
    <meta name="keywords" content="Taller mecanico, taller mecanico montevideo, taller mecanico cerca de mi, estacionamiento 24 horas, venta de neumaticos">
    <meta name="author" content="All In One">
    <title>AIO - Taller, neumaticos, reservas y más</title>

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }
      
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }
    </style>
</head>
        {% include 'partials/header.html.twig' %}

<body class="min-h-screen flex flex-col">
    <div class="flex flex-col md:flex-row items-center justify-between px-4 py-6">
        <div class="mb-4 md:mb-0">
            <a href="{{ path('home')}}" class="inline-block">
                <img class="w-8 h-8" src="{{ asset('svg/FlechaAtras.svg') }}" alt="Icon">
            </a>
        </div>
        <div class="text-center text-black text-2xl md:text-4xl lg:text-5xl font-semibold">
            Elija un servicio mecánico para poder agendar una reserva
        </div>
    </div> 
        
    <div class="w-full flex-grow flex flex-col">
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="{{ asset('img/AlineadoNeumaticos.jpeg') }}" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Alineación</div>
                    <submit class="duration-300 bg-botonAIO hover:bg-botonAIO-hover cursor-pointer w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded" onclick="location.href='{{ path('bookService') }}'">Reservar</submit>                </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="{{ asset('img/ImagenNuevaSlider.jpg') }}" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Balanceo</div>
                    <submit class="duration-300 bg-botonAIO hover:bg-botonAIO-hover cursor-pointer w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded" onclick="location.href='{{ path('bookService') }}'">Reservar</submit>                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="{{ asset('img/servicioNeumatico.jpg') }}" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Servicios neumaticos</div>
                    <submit class="duration-300 bg-botonAIO hover:bg-botonAIO-hover cursor-pointer w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded" onclick="location.href='{{ path('bookService') }}'">Reservar</submit>                </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="{{ asset('img/Diagnostico.jpg') }}" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Diagnostico</div>
                    <submit class="duration-300 bg-botonAIO hover:bg-botonAIO-hover cursor-pointer w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded" onclick="location.href='reservarServicio.html'">Reservar</submit>                </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="{{ asset('img/servicioEntero.jpg') }}" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Servicio completo</div>
                    <submit class="duration-300 bg-botonAIO hover:bg-botonAIO-hover cursor-pointer w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded" onclick="location.href='reservarServicio.html'">Reservar</submit>                </div>
                </div>
            </div>
        </div>
    </div>


           {% include 'partials/footer.html.twig' %}

</body>
</html>