<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="AIO taller mecanico en montevideo, Estacionamiento 24 horas y mas">
    <meta name="keywords" content="Taller mecanico, taller mecanico montevideo, taller mecanico cerca de mi, estacionamiento 24 horas, venta de neumaticos">
    <meta name="author" content="All In One">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <title>AIO - Taller, Estacionamiento y Accesorios en un mismo lugar</title>
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
            font-weight: normal;
            font-style: normal;
        }

        body,
        input,
        select,
        button,
        option {
            font-family: 'Teachers', sans-serif;
        }

         .btn{
            background-color: #dc2626
        }

        .btn:hover{
            background-color: #b91c1c
        }

        .language-button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            margin: 0 10px;
        }

        .language-button:hover {
            transform: scale(1.2); /* agrandar 20% */
        transition: transform 0.3s ease; /* transicion smooth :) */

        }

        .language-button img {
            width: 30px;
            height: 20px;
            object-fit: cover;
        }

    </style>
    <script src="{{ asset('js/traduccion.js') }}"></script>
</head>
<body class="bg-black">
    <main class="flex flex-col items-center justify-between min-h-screen bg-cover bg-center bg-no-repeat px-4 py-8 sm:px-6 lg:px-8" style="background-image: url('{{ asset('img/tallerLanding.png') }}');">
        
        <div class="w-full max-w-md mx-auto">
            <img src="{{ asset('img/AIO Positivo.png') }}" alt="All In One logo" class="w-full h-auto max-w-xs mx-auto mb-8 sm:mb-12">
            
            <h1 traducir="slogan" class="text-2xl sm:text-3xl md:text-4xl font-extrabold text-center text-white mb-8 sm:mb-12">
                All In One, un punto de partida para nuevos caminos
            </h1>
                  <!-- Botones de idioma con banderas -->
            <div class="flex justify-center mb-8">
                <button data-idioma="es" class="language-button">
                    <img src="{{ asset('img/es.png') }}" alt="Español" title="Español">
                </button>
                <button data-idioma="it" class="language-button">
                    <img src="{{ asset('img/it.png') }}" alt="Italiano" title="Italiano">
                </button>
                <button data-idioma="en" class="language-button">
                    <img src="{{ asset('img/en.png') }}" alt="English" title="English">
                </button>
            </div>

            <form class="space-y-6 mb-8">
                <a traducir="iniciar_sesion" href="{{ path('login') }}" target="_blank" rel="noopener noreferrer" class="btn w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-lg sm:text-xl font-bold text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-150 ease-in-out">
                    Iniciar sesión
                </a>
            </form>
            <div class="text-center"> 
                <a traducir="registrate" href="{{ path('signup') }}"  class="font-semibold text-white hover:text-red-300 underline">¿No tienes una cuenta? Regístrate aquí</a>
            </div>
        </div>
        
        <footer class="w-full text-center mt-auto pb-8"> 
            <a traducir="entrar_funcionario" href="{{ path('loginAioEmployee') }}" target="_blank" rel="noopener noreferrer" class="text-sm text-black font-medium hover:text-white transition duration-150 ease-in-out">
                Entrar como funcionario AIO
            </a>
        </footer>
    </main>
</body>

 <script>
       const archivoTraduccion = "{{ asset('translate/landingPage.json') }}";

        // Inicializar la traducción
        document.addEventListener('DOMContentLoaded', () => {
            inicializarTraduccion(null, archivoTraduccion , 'es');
        });

    
    </script>
</html>