<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de reserva de servicio de taller | AIO</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
            font-weight: normal;
            font-style: normal;
        }

        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }
             .btn{
            background-color: #dc2626
        }

        .btn:hover{
            background-color: #b91c1c
        }
         .btnPark{
            background-color: #1f3de0
        }

        .btnPark:hover{
            background-color: #233181
        }
    </style>
</head>
<body class="bg-white">
    {% include 'partials/headerGerente.html.twig'%}
    <main class="w-full px-4 pt-10 bg-white flex flex-col items-center gap-10">
        <section class="w-full max-w-[980px] p-6 bg-[#f0edf2] rounded-[14px] border border-black flex flex-col justify-center items-center gap-6">
            <h1 class="text-black text-3xl md:text-4xl lg:text-5xl font-bold text-center">Confirmación de Transacción</h1>
            
            {% if transaccion %}
                <div class="w-full mt-6">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <p class="text-black text-xl"><strong>ID de transacción: </strong> {{ transaccion.id }}</p>
                        <p class="text-black text-xl"><strong>ID del producto: </strong> {{ transaccion.idProd }}</p>
                        <p class="text-black text-xl"><strong>Tipo de transacción: </strong> {{ transaccion.tipo }}</p>
                        <p class="text-black text-xl"><strong>Cantidad de productos: </strong> {{ transaccion.cantidad }}</p>
                        <p class="text-black text-xl"><strong>Fecha y hora de realización: </strong> {{ transaccion.fecha }}</p>
                    </div>
                </div>
                <a href="{{ path('showDashboard') }}" class="w-full max-w-[300px] h-[60px] duration-300 btnPark text-neutral-50 text-xl md:text-2xl font-bold rounded-[10px] flex items-center justify-center mt-6">
                        Volver a mi tablero
                </a>
            {% else %}
                <p class="text-black text-xl md:text-2xl">No hay detalles de reserva disponibles.</p>
            {% endif %}
        </section>
    </main>
    {% include 'partials/footer.html.twig' %}
</body>
</html>