<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión | AIO</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
            font-weight: normal;
            font-style: normal;
        }

        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }

        .btn{
            background-color: #dc2626
        }

        .btn:hover{
            background-color: #b91c1c
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="flex justify-center items-center min-h-screen px-4 sm:px-0">
        <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
            <div class="text-center mb-8">
                <img src="{{ asset('img/AIO Positivo.png') }}" alt="AIO Logo" class="mx-auto max-w-[200px] sm:max-w-[150px]">
            </div>

            <form id="login-form" action="{{ path('doLogin') }}" method="POST">
                <div class="mb-6">
                    <input id="email" name="email" type="email" placeholder="Correo"
                           class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
                </div>
                <div class="mb-4">
                    <input id="contrasena" name="contrasena" type="password" placeholder="Contraseña"
                           class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
                </div>
                <div class="mb-2">
                    <p>
                        <a href="{{ path('forgotPassword') }}" class="text-sm text-gray-600 hover:underline">¿Olvidaste tu contraseña?</a>
                    </p>
                </div>    
                {% if response.errors is defined and response.errors is not empty %}
                    <div id="error-container" class="text-[#950d03] p-4 rounded-md mb-4">
                        <ul id="error-list">
                            {% for error in response.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <button type="submit"  class=" btn w-full duration-300  text-white py-2 rounded-md  transition">
                    Ingresar
                </button>
            </form>

            <button class="w-full mt-4 flex justify-center items-center bg-[#ffffff] px-4 py-2 border rounded-md hover:bg-[#e5e5e5] transition">
                <img class="w-6 h-6 mr-4" src="{{ asset('svg/google-icon-logo.svg') }}" alt="Google"/>
                <a href="{{ path('doLoginOAuth') }}" class="text-gray-600">Continuar con Google</a>
            </button>
            <div class="mt-6 text-center space-y-2">
                <p>
                    <a href="{{ path('signup') }}" class="text-sm text-gray-600 hover:underline">¿No tienes una cuenta? Regístrate aquí</a>
                </p>
            </div>
        </div>
    </div>
   
</body>

</html>