<!DOCTYPE html>
<html lang="en">

<head>
  <!--es responsivo-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña | AIO</title>
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
  <style>
    @font-face {
      font-family: 'Teachers';
      src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
      font-weight: normal;
      font-style: normal;
    }

    
    body, input, select, button, option {
      font-family: 'Teachers', sans-serif;
    }
  </style>
</head>

<body class="bg-gray-100 flex justify-center items-center min-h-screen px-4 sm:px-0">
  <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
    <div class="mb-8">
      <a href="{{ path('login') }}" class="inline-block">
        <img class="w-6 h-6" src="{{ asset('svg/FlechaAtras.svg') }}" alt="Volver">
      </a>
    </div>
    <div class="text-center mb-8">
      <img src="{{ asset('img/AIO Positivo.png') }}" alt="AIO Logo" class="mx-auto max-w-[200px] sm:max-w-[150px]">
    </div>
    <div class="text-center mb-8">
      <div class="w-16 h-16 mx-auto mb-4 flex items-center justify-center">
        <img class="w-8 h-10" src="{{ asset('svg/Vector.svg') }}" alt="Lock Icon">
      </div>
      <h2 class="text-2xl font-semibold mb-4">Recupera tu contraseña</h2>
      <p class="text-gray-600">Ingresa tu correo electrónico y te enviaremos las instrucciones para cambiar tu contraseña</p>
    </div>
    <form id="recovery-form" action="" method="POST">
      <div class="mb-6">
        <input id="email" name="email" type="email" placeholder="Correo" 
               class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
        <p id="email-error" class="mt-1 text-red-500 text-sm hidden"></p>
      </div>
       <!-- DIV PARA ERRORES DE PHP -->
            <div id="error-container" style="display: none; background-color: #ffcccc; color: #ff0000; padding: 10px; margin-bottom: 10px;"></div>
        <!--  FINAL DE DIV PARA ERRORES DE PHP -->
      <button type="submit" class="w-full bg-[#950d03] text-white py-2 rounded-md hover:bg-[#7a0b02] transition">
        Recuperar cuenta
      </button>
    </form>
    <div class="mt-6 text-center">
      <a href="{{ path('login') }}" class="text-sm text-gray-600 hover:underline">Volver al inicio de sesión</a>
    </div>
  </div>


  <script src="{{ asset('js/controlErrores.js') }}"></script> 

</body>

</html>
