<!DOCTYPE html>
<html lang="en">
<head>
     <!--SEO-->
     <meta name="author" content="All In One">
     <!--Es responsivo-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Iniciar Sesión como funcionario | AIO</title>
     <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> 
     <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
     <style>
         @font-face {
             font-family: 'Teachers';
             src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
             font-weight: normal;
             font-style: normal;
         }
     
         body, input, select, button, option {
             font-family: 'Teachers', sans-serif;
         }
     </style>
</head>
<body>
    <body class="bg-gray-100">
        <div class="flex justify-center items-center min-h-screen px-4 sm:px-0">
          <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
            <div class="text-center mb-8">
              <img src="{{ asset('img/AIO Positivo.png') }}" alt="AIO Logo" class="mx-auto max-w-[200px] sm:max-w-[150px]">
            </div>
            <form id="login-form" action="{{ path('doLoginAioEmployee') }}" method="POST">
              <div class="mb-6">
                <input traducir="usuario" id="usuario" name="usuario" type="text" placeholder="Usuario" 
                       class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
                <p id="email-error" class="mt-1 text-red-500 text-sm hidden"></p>
              </div>
              <div class="mb-4">
                <input traducir="contrasena" id="contrasena" name="contrasena" type="password" placeholder="Contraseña" 
                       class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
                <p id="password-error" class="mt-1 text-red-500 text-sm hidden"></p>
              </div>
              <button traducir="ingresar" type="submit" class="w-full duration-300 bg-botonAIO hover:bg-botonAIO-hover text-white py-2 rounded-md  transition">
                Ingresar
              </button>
            </form>
          </div>
        </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const archivoTraduccionHeader = "{{ asset('translate/header.json') }}";
        const archivoTraduccionHome = "{{ asset('translate/home.json') }}";
        inicializarTraduccion(archivoTraduccionHeader, archivoTraduccionHome, 'es');
    });
</script>
</html>